<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="bg-info text-white text-center py-2 mt-5">
             <h2>İletişim Sayfası</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div>
                    
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3126.709432157985!2d42.10628541533583!3d38.401966979650155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x400d215d32c75217%3A0xd7626259cb9959c5!2zUGHFn2EgSGFtYW3EsQ!5e0!3m2!1str!2str!4v1560027891355!5m2!1str!2str" width="100%" height="435" frameborder="0" style="border:0"   allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <form action="" method="">
                       
                    <div class="card mt-4" >
                       <p><b>Adres : </b>Zeydan Mahallesi, Bitlis Çarşısı, 13000 Merkez/Bitlis Merkez/Bitlis</p>
                           
                    </div>
                    <div class="card mt-4">
                        <p><b>Telefon :</b> (0434) 226 38 66</p>
                    </div>
                      <div class="card mt-4">
                        <p><b>Çalışma Saatleri Hergün :</b> 06:00 -- 21:30</p>
                    </div>
                      <div class="card mt-4">
                        <p><b>Bayanlar İçin Hama Gün ve Saatleri</b></p>
                     
                    
                     <div class="card mt-2">
                        <p><b>Salı:</b> 11:30:00 -- 16:00</p>
                         <p><b>Cumartesi:</b> 11:30:00 -- 16:00</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>