   <div class="container">


     <div class="row">

       <div class="col-md-12" style="margin-top: 20px;line-height: 2rem">

           <div class="card mb-4 shadow-sm">
        <img src="/img/bitlis.jpg"  >
        
    </div>
         <p>XVI. yüzyılda Hüsrev Paşa tarafından yaptırılan Paşa Hamamı bugüne kadar varlıklarını koruyabilmişlerdir.
           Ayrıca kale üzerindeki Han Sarayı Hamamı ile Zeydan Mahallesi’ndeki Saray Hamamı’nın ancak kalıntılarına
           rastlanabilmektedir. El Aman Kervansarayı’ndaki hamam kalıntısı ile Ahlat ve Adilcevaz kaleleri içerisindeki
           hamam kalıntıları tarihi değer taşımaktadır.HANLAR VE KERVANSARAYLARHatuniye (Hazo) Hanı, aynı adla anılan
           köprünün yanı başında bulunan bir handır. Abbasilerden Sultan Evhadullah Hanın kızı Hamu Hatun tarafından XI.
           Yüzyılda yaptırıldığı söylenmektedir. Papşin (Hüsrev Paşa) Hanı ise, Bitlis-Tatvan karayolu üzerinde
           bulunmaktadır. Beylerbeyi Hüsrev Paşa tarafından XVI. yüzyılda yaptırıldığı rivayet edilmektedir. Başhan
           Hanı, Bitlis-Tatvan karayolu üzerindedir. XVI. yüzyılda Van Beylerbeyi Hüsrev Paşa tarafından yaptırıldığı
           rivayet edilmektedir. El-Aman Hanı, Anadolu’nun en büyük kervansaraylarından biri olan El Aman Hanı,
           dükkanları, cami ve hamamı ile bir külliye teşkil etmektedir. XVI. yüzyılda Hüsrev Paşa tarafından
           yaptırılmıştır. İl sınırları içerisinde bulunan diğer han ve kervansaraylar ise; Şerefiye, Arasa, Yusufiye,
           Duhan ve Kokoz Zal Paşa hanlarıdır.KAPLICALARFay hattı üzerinde bulunan Bitlis merkez ve çevresinde sayısız
           kaplıcaya rastlanır. Bunlardan bazıları; Güroymak (Çukur) Kaplıcası, Ilıcak (Germav) Kaplıcası, Nemrut Dağı
           Kaplıcası, Alemdar, Köprü Altı, Çim Çölmüğü, Arap Köprüsü, Yılan Dirilten, Acı Su gibi kaplıcalar olarak
           sıralanabilir.KÖPRÜLERNarlıdere (Kasrik) Köprüsü, Bitlis-Baykan yolu Narlıdere köyünde bulunur. Bu muhteşem
           yapının kitabesi olmadığından hangi tarihte ve kimin tarafından yapıldığı bilinmemektedir. Ancak, gerek köprü
           mimari özellikleri ve gerekse yörenin tarihi durumu göz önüne alındığında Osmanlı dönemi 16. yüzyıl sonları
           ya da 17. yüzyıl içinde yapılmış olabileceği kanaati yaygındır. Ahlat Emir Bayındır Köprüsü; muhtemelen 13.
           Yüzyılda inşa edildiği, ancak daha sonraki dönemlerde, özellikle 15. Yüzyılda, Akkoyunlu döneminde onarımının
           yapıldığı ya da yenilendiği tahmin edilmektedir.

         </p>
       </div>

     </div>

   </div>